/*Css Reset, meyer version*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/*Now replace stuff*/

strong{font-weight: bold}
p{margin-top: 10px;margin-bottom: 10px;}



/*
	960 Grid System ~ Core CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/

/* `Containers
----------------------------------------------------------------------------------------------------*/

.container_12,
.container_16 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15 {
	position: relative;
}

.container_12 .grid_3,
.container_16 .grid_4 {
	width: 220px;
}

.container_12 .grid_6,
.container_16 .grid_8 {
	width: 460px;
}

.container_12 .grid_9,
.container_16 .grid_12 {
	width: 700px;
}

.container_12 .grid_12,
.container_16 .grid_16 {
	width: 940px;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .grid_1 {
	width: 60px;
}

.container_12 .grid_2 {
	width: 140px;
}

.container_12 .grid_4 {
	width: 300px;
}

.container_12 .grid_5 {
	width: 380px;
}

.container_12 .grid_7 {
	width: 540px;
}

.container_12 .grid_8 {
	width: 620px;
}

.container_12 .grid_10 {
	width: 780px;
}

.container_12 .grid_11 {
	width: 860px;
}

/* `Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .grid_1 {
	width: 40px;
}

.container_16 .grid_2 {
	width: 100px;
}

.container_16 .grid_3 {
	width: 160px;
}

.container_16 .grid_5 {
	width: 280px;
}

.container_16 .grid_6 {
	width: 340px;
}

.container_16 .grid_7 {
	width: 400px;
}

.container_16 .grid_9 {
	width: 520px;
}

.container_16 .grid_10 {
	width: 580px;
}

.container_16 .grid_11 {
	width: 640px;
}

.container_16 .grid_13 {
	width: 760px;
}

.container_16 .grid_14 {
	width: 820px;
}

.container_16 .grid_15 {
	width: 880px;
}

/* `Prefix Extra Space >> Global
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_3,
.container_16 .prefix_4 {
	padding-left: 240px;
}

.container_12 .prefix_6,
.container_16 .prefix_8 {
	padding-left: 480px;
}

.container_12 .prefix_9,
.container_16 .prefix_12 {
	padding-left: 720px;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_1 {
	padding-left: 80px;
}

.container_12 .prefix_2 {
	padding-left: 160px;
}

.container_12 .prefix_4 {
	padding-left: 320px;
}

.container_12 .prefix_5 {
	padding-left: 400px;
}

.container_12 .prefix_7 {
	padding-left: 560px;
}

.container_12 .prefix_8 {
	padding-left: 640px;
}

.container_12 .prefix_10 {
	padding-left: 800px;
}

.container_12 .prefix_11 {
	padding-left: 880px;
}

/* `Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .prefix_1 {
	padding-left: 60px;
}

.container_16 .prefix_2 {
	padding-left: 120px;
}

.container_16 .prefix_3 {
	padding-left: 180px;
}

.container_16 .prefix_5 {
	padding-left: 300px;
}

.container_16 .prefix_6 {
	padding-left: 360px;
}

.container_16 .prefix_7 {
	padding-left: 420px;
}

.container_16 .prefix_9 {
	padding-left: 540px;
}

.container_16 .prefix_10 {
	padding-left: 600px;
}

.container_16 .prefix_11 {
	padding-left: 660px;
}

.container_16 .prefix_13 {
	padding-left: 780px;
}

.container_16 .prefix_14 {
	padding-left: 840px;
}

.container_16 .prefix_15 {
	padding-left: 900px;
}

/* `Suffix Extra Space >> Global
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_3,
.container_16 .suffix_4 {
	padding-right: 240px;
}

.container_12 .suffix_6,
.container_16 .suffix_8 {
	padding-right: 480px;
}

.container_12 .suffix_9,
.container_16 .suffix_12 {
	padding-right: 720px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_1 {
	padding-right: 80px;
}

.container_12 .suffix_2 {
	padding-right: 160px;
}

.container_12 .suffix_4 {
	padding-right: 320px;
}

.container_12 .suffix_5 {
	padding-right: 400px;
}

.container_12 .suffix_7 {
	padding-right: 560px;
}

.container_12 .suffix_8 {
	padding-right: 640px;
}

.container_12 .suffix_10 {
	padding-right: 800px;
}

.container_12 .suffix_11 {
	padding-right: 880px;
}

/* `Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .suffix_1 {
	padding-right: 60px;
}

.container_16 .suffix_2 {
	padding-right: 120px;
}

.container_16 .suffix_3 {
	padding-right: 180px;
}

.container_16 .suffix_5 {
	padding-right: 300px;
}

.container_16 .suffix_6 {
	padding-right: 360px;
}

.container_16 .suffix_7 {
	padding-right: 420px;
}

.container_16 .suffix_9 {
	padding-right: 540px;
}

.container_16 .suffix_10 {
	padding-right: 600px;
}

.container_16 .suffix_11 {
	padding-right: 660px;
}

.container_16 .suffix_13 {
	padding-right: 780px;
}

.container_16 .suffix_14 {
	padding-right: 840px;
}

.container_16 .suffix_15 {
	padding-right: 900px;
}

/* `Push Space >> Global
----------------------------------------------------------------------------------------------------*/

.container_12 .push_3,
.container_16 .push_4 {
	left: 240px;
}

.container_12 .push_6,
.container_16 .push_8 {
	left: 480px;
}

.container_12 .push_9,
.container_16 .push_12 {
	left: 720px;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .push_1 {
	left: 80px;
}

.container_12 .push_2 {
	left: 160px;
}

.container_12 .push_4 {
	left: 320px;
}

.container_12 .push_5 {
	left: 400px;
}

.container_12 .push_7 {
	left: 560px;
}

.container_12 .push_8 {
	left: 640px;
}

.container_12 .push_10 {
	left: 800px;
}

.container_12 .push_11 {
	left: 880px;
}

/* `Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .push_1 {
	left: 60px;
}

.container_16 .push_2 {
	left: 120px;
}

.container_16 .push_3 {
	left: 180px;
}

.container_16 .push_5 {
	left: 300px;
}

.container_16 .push_6 {
	left: 360px;
}

.container_16 .push_7 {
	left: 420px;
}

.container_16 .push_9 {
	left: 540px;
}

.container_16 .push_10 {
	left: 600px;
}

.container_16 .push_11 {
	left: 660px;
}

.container_16 .push_13 {
	left: 780px;
}

.container_16 .push_14 {
	left: 840px;
}

.container_16 .push_15 {
	left: 900px;
}

/* `Pull Space >> Global
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_3,
.container_16 .pull_4 {
	left: -240px;
}

.container_12 .pull_6,
.container_16 .pull_8 {
	left: -480px;
}

.container_12 .pull_9,
.container_16 .pull_12 {
	left: -720px;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_1 {
	left: -80px;
}

.container_12 .pull_2 {
	left: -160px;
}

.container_12 .pull_4 {
	left: -320px;
}

.container_12 .pull_5 {
	left: -400px;
}

.container_12 .pull_7 {
	left: -560px;
}

.container_12 .pull_8 {
	left: -640px;
}

.container_12 .pull_10 {
	left: -800px;
}

.container_12 .pull_11 {
	left: -880px;
}

/* `Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .pull_1 {
	left: -60px;
}

.container_16 .pull_2 {
	left: -120px;
}

.container_16 .pull_3 {
	left: -180px;
}

.container_16 .pull_5 {
	left: -300px;
}

.container_16 .pull_6 {
	left: -360px;
}

.container_16 .pull_7 {
	left: -420px;
}

.container_16 .pull_9 {
	left: -540px;
}

.container_16 .pull_10 {
	left: -600px;
}

.container_16 .pull_11 {
	left: -660px;
}

.container_16 .pull_13 {
	left: -780px;
}

.container_16 .pull_14 {
	left: -840px;
}

.container_16 .pull_15 {
	left: -900px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

/*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
*/
* html .clearfix,
*:first-child+html .clearfix {
	zoom: 1;
}/*
	960 Grid System ~ Text CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
	font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

a:focus {
	outline: 1px dotted;
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
	font-size: 25px; 	
}


h2 {
	font-size: 23px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 17px;
}

h6 {
	font-size: 15px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

li {
	margin-left: 30px; margin-bottom: 5px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
	margin-bottom: 20px;
}

small{
	font-size: 0.9em;
}

html{background-color: #2B2B2B;padding:10px;}
	
* {
	margin:0;
	padding:0;
}

/* General Style Info */
body {
	font-family:'lucida grande',helvetica,sans-serif;
	margin: 4px;
	
}



a img {
	border:none;
}	

a{
	text-decoration: none;
}


/* Layout */
#container {
	text-align: left; margin: 5px;
	background-color: #F7F7F7; border: 10px solid #F7F7F7;
	margin: 10px auto
}

#menu{
	border-top:0px solid #D1E7B9;
	background-color: #383838;
	color: #fff;
	float: left;
	font-size: 1.2em;
	text-transform: uppercase;
	
}
#search{
	text-align: right;
	padding-top: 10px;
	padding-left:100px;
	float: right;
}
#header{
	position: relative; 
}
#security {
	position: absolute;
	top:-10px;
	padding: 7px 10px;
	right: 20px;
	color: #fff;
	font-size: 10px; 

	background-color: #383838
}
#security #settings{
	padding:5px 0px 5px 0px;; ; background-repeat: no-repeat; background-color: #383838; color: #fff; 
	
/*	background-image: url(/img/admin/settings.png) */
}
#security a{
	margin-right: 5px;
	background-color: #ED9C0F;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	color: #fff;
	font-size: 0.9em;
	-moz-border-radius:  5px;
	
	-webkit-border-radius: 5px;
	
		margin-left: 10px;
}
#header h1 {
	letter-spacing: 1px;
	background-color: #F7F7F7;
	margin-bottom: 20px;
	color: #383838;
	font-size: 1.1em;
	float: left; width: 100%; 
	
}
#header h1 a img{
	float: left
}
#header h1 a span{
	display: inline
}
#header h1 a{
	color: #383838;
	display: block;
	padding: 10px; float: left
}

#content{
	border-top: 1px solid #F7F7F7;
	background-repeat: repeat-x;
	color: #333;
}
.content-item {
	
	margin-top: 10px;
		
	background-color: #fff;
	
	
}

.additional{
	width: 320px; margin-top: 10px;
}
.additional div{
	background-color: white; margin-bottom: 20px;
}
.additional .form-wrap{
	background-color: white
}
tr.master td, tr.current td{
	font-weight: bold
}
tr.current{
	background-color: #EDF3FE;
}

.content-item h2, .additional div h2{
	background-image: url(/img/admin/brightspark/h2.jpg); background-repeat: repeat-x;
	background-color: #eee;
	padding: 8px;
	color: #383838;
	border-bottom: 1px solid #959394;
	
	margin-bottom: 0px; 
	
	line-height: 18px; font-size: 14px;
	
	-moz-border-radius-topright:  5px;
	-moz-border-radius-topleft:  5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	text-transform: capitalize;
		
}
.content-item h3{
	font-weight: bold;
	font-size: 16px;
		margin:10px;
	margin-top: 30px !important;
	clear: both;
	margin-bottom: 0px !important;
	padding-left: 0px;
	margin-left: 0px;
}
.content-item p{
	margin-left: 10px;
}
#details h3, #payment h3{
	margin-left: 0px;
}
#details {
	margin: 10px !important;
	float:left;
	width: 250px;
}
#payment{
	float: left;
	width: 250px
}

.content-item h2 .action{
	float: right;
	margin-right: 10px;
	padding: 0px;
	line-height: 22px;
	margin-top: -2px;
	}
.content-item h2 .action a{
	background-color: #39C004;
	color: white;
	border:1px solid white;
	font-size: 18px;
	font-weight: bold;
	padding: 3px;
	padding-top: 0px !important;
	font-weight: bold;
	
	-moz-border-radius:  5px;
	
	
	-webkit-border-radius: 5px;
}
.content-item h2 .action  a.minor{
	color: white;
	font-size: 12px;
	font-weight: bold;
	background: none; border: none; color: #383838
}

.content-item h2 .action small a {
	font-size: 10px;
}
small{
	font-size: 10px; 	float: right;
	padding-right: 10px;
}

/* Footer */
#footer {
	clear: both;
	padding-left: 6px;
	padding-right: 6px;
	padding:0px;
	text-align: right;
	color: #666;
	border-top: 1px dotted #383838;
	margin-top: 40px;
}
#footer a{
	color: #A4CDE3;
}

/* Tables */
table{
		margin:10px; 
	border-collapse: collapse;

}
.index table {
	/*
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	*/
	width: 95%
		
	}
table td
	{
	padding:5px;
	spacing:0px;
	font-size:10px;
	vertical-align: middle;
}
table.basket td{
	vertical-align: top;
	padding: 20px;
}
td.actions a{margin-right: 10px}
table td.contentpreview{
	font-size:0.8em;
	color: #999;
	width:300px
}
table td.title{
	font-weight:bold
}
table th{
	text-align:left;
	padding:6px;
	text-transform: uppercase;
	font-size: 0.8em;
}
table th a{
	color: #5D5E63;
	
}
table tr:hover{
	background-color:#EDF3FE;
}
table td{
	border-bottom:1px solid #eee;
}
table th{
	border-bottom: 1px dotted #000000
}
/* Paging */
div.paging {
	background:#fff;
	color: #ccc;
	margin-bottom: 2em;
	margin-left: 10px;
	font-size: 0.8em;
}
.pagination-summary{
	padding-left: 10px;
	background-color: #F6EDDE;
	padding: 4px;
}
div.paging div.disabled {
	color: #ddd;
	display: inline;
}
div.paging span {
}
div.paging span.current {
	color: #000;
}
div.paging span a {
}

/* Scaffold View */


/* Forms */

form {
	clear: both;
	margin-right: 0px;
	padding: 0;
	
}

.form-wrap {
	margin-bottom: 1em;
	padding: 10px;
	vertical-align: text-top;
}
 input {
	color: #444;
	width: 97%;
	
}
.required {
	color: #333;
	
}

.required label{
	font-weight: bold;
}
form div.submit {
	border: 0;
	
	margin-top: 10px;
	margin-left: 10px;
	display: inline;
}
label {
	display: block;
	font-size: 110%;
	padding-right: 20px;
	margin-top: 20px;
	font-style: normal
}
input, textarea {
	font-size: 100%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 2px;

}
textarea{
	width: 560px;
} 
#search input{
	font-size: 0.9em;
	width: 160px;
}
#search input[type=submit]{
	width: 100px;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
	max-width: 500px;
}
select[multiple=multiple] {
	width: 700px;;
}
option {
	font-size: 120%;
	padding: 0 3px;
}

.checkbox{
	margin-top: 0px; padding: 0px; margin: 0px; 
}

.checkbox label{
	margin-top: 0px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
a.button{
		background-color: #39C004;
	border: 1px solid #fff;
	-moz-border-radius:  5px;
	
	-webkit-border-radius: 5px;
	
		margin-left: 10px;

	color: #ffffff;
	font-size: 14px;
	width: 100px;;
	padding: 10px;
	display: block;
}
input.button{
	width: auto;
}
a.send_letter{
	background-color: 	red;
	border: 1px solid #FB9124;
	-moz-border-radius:  5px;
	-webkit-border-radius: 5px;
	margin-left: 10px;
	color: #ffffff;
	font-size: 14px;
	padding: 10px;
	display: block;
	float: right; margin: 20px
}

input[type=submit] {
	background-color: #39C004;
	border: 1px solid #39C004;	
	-moz-border-radius:  5px;
	-webkit-border-radius: 5px;
	margin-left: 10px;
	margin-top: 0px;
	color: #ffffff;
	font-size: 14px;
	width: auto;
}


/*  Actions  */
div.actions ul {
	margin: 0px 0;
	padding: 0;
}
div.actions li {
	display: inline;
	list-style-type: none;
	line-height: 2em;
	margin: 0 2em 0 0;
	white-space: nowrap;
}
div.actions ul li a {
	background:#fff;
	color: #003d4c;
	text-decoration: none;
}
div.actions ul li a:hover {
	color: #333;
	text-decoration: underline;
}

/* Related */
div.related {
	clear: both;
	display: block;
}

/* Debugging */
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}
pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	border: 4px dotted #ffcc00;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #ff0;
	padding: 4px;
}
div.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
div.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
div.code-coverage-results div.covered span.content {
	background:#cec;
}
div.code-coverage-results div.ignored span.content {
	color:#aaa;
}
div.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
div.code-coverage-results span.line-num strong {
	color:#666;
}
div.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
div.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
div.code-coverage-results div.realstart {
	margin-top:0px;
}
div.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
div.code-coverage-results span.result-bad {
	color: #a00;
}
div.code-coverage-results span.result-ok {
	color: #fa0;
}
div.code-coverage-results span.result-good {
	color: #0a0;
}	
.hashtwo_admin_index_controls div{
	float: left;
	padding: 0px;
	font-size: 0.8em;
	margin-right: 10px;
}
.hashtwo_admin_index_controls div.submit{
	margin:0px;
	float: left ;
	clear: none;
	margin-left: 0px;
}


.flash_box{
	border: 1px solid #333;
	padding: 10px;
	margin: 20px;
}
.flash_info{
	background-color: #9CC1DE;
	color: #585647;
}
.flash_error{
	background-color: #DC4D21;
	color: white;
	border: 1px solid #ffffff
}
.flash_success{
	background-color: #e2f8da;
	border: 1px fsolid #ffffff;
	color: #585647
}


.message{
	background-color: #9CC1DE;
	border: 1px solid #ffffff;
	padding: 20px;
	color: #585647;
	margin-bottom: 20px;
	width: 610px;
}



/* ordering stuff */

tr.tDnD_whileDrag td{
	color: #E47B01;
	background-color: #333;
	
}
 span.drag-handle{
 	display: block;
 	border: 1px dotted red
 }
td.drag-handle, span.drag-handle{
	background-image: url('/img/admin/drag-me.png');
	background-repeat: no-repeat;
	background-position: center;
	cursor: move;
}


td.remove, .action{
	color: #FB9124 !important; font-weight: bold; cursor: pointer; 
}

h4.search input{
	font-size: 11px; width: 160px; border: 1px solid #ccc; ;margin-left: 200px;
}

.fail{
	color: #ed2510;
	background-color: #f8e1df;

}
.success{

		background-color: #e2f8da;
		color: #383838

}
#flashMessage{
 	padding: 20px;


 	margin-bottom: 10px;
 	padding-right: 100px;
		 	
 	background-position:  right center;
 	background-repeat: no-repeat;
 	
}
#letter{
	width: 500px; float: left;	
}
#recipients{
width: 300px;
}
#recipients .select{
		height: 350px; overflow: auto; 	
}

p{
	margin: 10px;
}
.ready{
	width: 490px;
}
.test_letter{
	width: 490px;
}
.detail {
	width: 300px;
}
.error-message{
	color: #ed2510; font-style: normal
}



.list{padding: 10px;}
.list ul{
	padding-left: 5px; margin-left: 0px;
	margin-bottom: 0px;
}
.list ul li{
	padding: 2px; 
	margin-left: 0px; margin-bottom: 0px;
	list-style: none
}
.list ul li a{
	color: #333; font-size: 11px;
}
.list ul li a:hover{
	color: #000; text-decoration: underline
}
.add_items{
	padding: 10px;
	
}
.add_items form{
	 float: left; border-bottom: 1px solid #ccc; padding-left: 0px !important;padding-right: 0px !important;padding-top: 0px; padding-bottom: 5px; width:280px; position: relative
}
.add_items form .input{
	 float:  left; margin: 5px; font-size: 10px; padding: 0px !important	; margin-left: 0px; font-style: italic; width:200px;
}
.add_items_prefix{
	float: left; color: #ccc;
}
.add_items form .pathy{
	float:  left; margin: 5px; font-size: 10px; padding: 0px !important	; margin-left: 0px; font-style: italic
}
.add_items form .input input{
	border: 1px solid #fff; font-size: 10px
}
.add_items form .input input:hover{
	border: 1px solid #ccc
}

.add_items form .input label{
	display: none
}
.add_items form .submit{
	position: absolute; right:0px; top:5px;  width: 25px; padding: 0px;
}
.add_items form .submit{
	margin-left: 0px; margin-top: 3px;
}
ul{
	margin-left: 10px;
}
ul.directory{
	font-size: 11px; margin-bottom: 5px;
}
ul.directory li{
	font-weight: bold
}
ul.directory li a{
	font-size: 11px; text-decoration: none; color: #333; font-weight: normal
}
ul.directory li a:hover{
	text-decoration: underline
}
.input{
	font-style: italic; font-size: 12px; color: #555
}
.input input{
	font-size: 15px; color: #333
}
.input label{
	font-size: 15px; color: #333
}


#MenuAdminEditForm .input label{
	float: left;
	margin-top: 10px;
}
#MenuAdminEditForm .input input{
	border: 1px solid #fff; background:none; width: 400px; margin-top: 10px; font-weight: bold
}
#MenuAdminEditForm   .input input{
	border: 1px solid #ccc
}
#MenuAdminEditForm   .input, #MenuAdminEditForm   .submit{
	float: left
}
#MenuAdminEditForm {
	clear: both; float: left ; 
}
#MenuAdminEditForm .delete{
	padding-top: 20px !important; ; float: left; margin-left: 20px; margin-right: 20px;
}
#menu_name{
	float: left; margin-bottom: 10px; 	
}

#menu_name form{
	padding: 10px;

}

p.hint{
	margin-top: 0px !important; margin-left: 0px; padding-left: 0px; color: #666; font-size: 11px; font-style: italic
}

select  {
	text-transform: capitalize
}
.filter{
	text-align: right;  font-size: .8em; float: right
}



/*tabs*/
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.0em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}

#TemplateContents{
	width:620px;
}

 .CodeMirror-line-numbers {
        width: 2.2em;
        color: #aaa;
        background-color: #eee;
        text-align: right;
        padding-right: .3em;
        font-size: 10pt;
        font-family: monospace;
        padding-top: .4em;
        line-height: normal;
      }
.versions{
	height: 200px; overflow: auto
}

.theme{
	float: left; width: 260px; border: 1px solid #eee; padding: 10px; margin-right: 10px; margin-bottom: 10px; height: 320px;
}
.content-item .theme h3{
	margin-top: 0px !important;  margin-bottom: 10px !important; 
}
.themes input{
		float: right
}
.theme img{
	clear: left
}

.shh{
	display: none; border: 3px dotted red
}

a.toggler{
	color: #333; font-size: 11px;;
}


h4{
	font-weight: normal; font-size: 14px; margin-bottom: 5px;
}
.complex_field{
	border: 1px solid #eee; float: left; padding: 5px; 
}/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
	z-index: 5;
	
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			181px; /* left offset of submenus need to match (see below) */
	padding: 5px;
	background-color: #383838
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0px;
	top:			2em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			181px;; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			161px; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
	padding-top: 7px;
	margin-top: 0px;
	margin-left: 0px;
	
	float: left;
}

.sf-menu li a {
	padding-top: 7px;
	padding-left: 4px;	
	text-decoration:none;
	font-weight: normal;
	font-size: 12px;
	height: 100%;
}
.sf-menu li a:hover(
	color:#cccccc !important;
)
  .sf-menu li li a,   .sf-menu li li a:hover{
	font-size: 14px !important;
	color:#666;
}

.sf-menu li ul{


}
.sf-menu li li  a{
	font-size: 13px;
}
.sf-menu li li li a{
	color: white !important;

}

.sf-menu a:link, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#fff;
}
/*
.sf-menu li:hover a { 
	color:			#ccc !important;
}
*/

.sf-menu li {
	
	padding-left: 15px;
	padding-right: 25px;
	border-right:1px dotted #f7f7f7;
	height: 50px;
}
.sf-menu li ul li{
	border-right:none;
	height: 40px;
}
ul.sf-menu  li:first-child{
	background-image: none;
}
.sf-menu li li {
	padding-left: 0px;
	padding-right: 0px;
	
	margin-left: 0px;
	margin-right: 0px
}
.sf-menu li li:hover a{
	color: #666 !important;
}
.sf-menu li li:hover li a{
	color: #fff !important;
}
.sf-menu li li:hover li:hover a{
	color: #666 !important;
}


.sf-menu li ul{
	margin-left: 0px;
}
.sf-menu li li li {

}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background-color: :		none;
	//outline:		0;
}
.sf-menu li li:hover, .sf-menu li li.sfHover,
li li .sf-menu a:focus, li li .sf-menu a:hover {
	background:		white;
	outline:		0;
	color: #666;
	
}

/*** arrows **/
.sf-menu a.sf-with-ul {
		min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.25em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
		background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	
	
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}


/*
	/Menu

*/
div.tagsinput { border:1px solid #CCC; background: #FFF; padding:5px; width:550px; height:50px; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #a5d24a; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px; text-decoration:none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:13px;}
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 11px;  } 
div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }


.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}
html, body {
	height: 100%;
}

div#fancy_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	display: none;
	z-index: 30;
}

* html div#fancy_overlay {
	position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

div#fancy_wrap {
	text-align: left;
}

div#fancy_loading {
	position: absolute;
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: none;
	overflow: hidden;
	background: transparent;
	z-index: 100;
}

div#fancy_loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background: transparent url('fancy_progress.png') no-repeat;
}

div#fancy_loading_overlay {
	position: absolute;
	background-color: #FFF;
	z-index: 30;
}

div#fancy_loading_icon {
	position: absolute;
	background: url('fancy_loading.gif') no-repeat;
	z-index: 35;
	width: 16px;
	height: 16px;
}

div#fancy_outer {
	position: absolute;
    top: 0;
    left: 400px;;
    z-index: 90;
    padding: 18px 18px 33px 18px;
    margin: 0;
    overflow: hidden;
    background: transparent;
    display: none;
}

div#fancy_inner {
	position: relative;
	width:100%;
	height:100%;
	border: 1px solid #BBB;
	background: #FFF;
}

div#fancy_content {
	margin: 0;
	z-index: 100;
	position: absolute;
}

div#fancy_div {
	background: #000;
	color: #FFF;
	height: 100%;
	width: 100%;
	z-index: 100;
}

img#fancy_img {
	position: absolute;
	top: 0;
	left: 0;
	border:0; 
	padding: 0; 
	margin: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
}

div#fancy_close {
	position: absolute;
	top: -12px;
	right: -15px;
	height: 30px;
	width: 30px;
	background: url('fancy_closebox.png') top left no-repeat;
	cursor: pointer;
	z-index: 181;
	display: none;
}

#fancy_frame {
	position: relative;
	width: 100%;
	height: 100%;
	display: none;
}

#fancy_ajax {
	width: 100%;
	height: 100%;
	overflow: auto;
}

a#fancy_left, a#fancy_right {
	position: absolute; 
	bottom: 0px; 
	height: 100%; 
	width: 35%; 
	cursor: pointer;
	z-index: 111; 
	display: none;
	background-image: url(data:image/gif;base64,AAAA);
	outline: none;
}

a#fancy_left {
	left: 0px; 
}

a#fancy_right {
	right: 0px; 
}

span.fancy_ico {
	position: absolute; 
	top: 50%;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	z-index: 112; 
	cursor: pointer;
	display: block;
}

span#fancy_left_ico {
	left: -9999px;
	background: transparent url('fancy_left.png') no-repeat;
}

span#fancy_right_ico {
	right: -9999px;
	background: transparent url('fancy_right.png') no-repeat;
}

a#fancy_left:hover {
  visibility: visible;
}

a#fancy_right:hover {
  visibility: visible;
}

a#fancy_left:hover span {
	left: 20px; 
}

a#fancy_right:hover span {
	right: 20px; 
}

.fancy_bigIframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}

div#fancy_bg {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: 70;
	border: 0;
	padding: 0;
	margin: 0;
}
	
div.fancy_bg {
	position: absolute;
	display: block;
	z-index: 70;
	border: 0;
	padding: 0;
	margin: 0;
}

div.fancy_bg_n {
	top: -18px;
	width: 100%;
	height: 18px;
	background: transparent url('fancy_shadow_n.png') repeat-x;
}

div.fancy_bg_ne {
	top: -18px;
	right: -13px;
	width: 13px;
	height: 18px;
	background: transparent url('fancy_shadow_ne.png') no-repeat;
}

div.fancy_bg_e {
	right: -13px;
	height: 100%;
	width: 13px;
	background: transparent url('fancy_shadow_e.png') repeat-y;
}

div.fancy_bg_se {
	bottom: -18px;
	right: -13px;
	width: 13px;
	height: 18px;
	background: transparent url('fancy_shadow_se.png') no-repeat;
}

div.fancy_bg_s {
	bottom: -18px;
	width: 100%;
	height: 18px;
	background: transparent url('fancy_shadow_s.png') repeat-x;
}

div.fancy_bg_sw {
	bottom: -18px;
	left: -13px;
	width: 13px;
	height: 18px;
	background: transparent url('fancy_shadow_sw.png') no-repeat;
}

div.fancy_bg_w {
	left: -13px;
	height: 100%;
	width: 13px;
	background: transparent url('fancy_shadow_w.png') repeat-y;
}

div.fancy_bg_nw {
	top: -18px;
	left: -13px;
	width: 13px;
	height: 18px;
	background: transparent url('fancy_shadow_nw.png') no-repeat;
}

div#fancy_title {
	position: absolute;
	bottom: -33px;
	left: 0;
	width: 100%;
	z-index: 100;
	display: none;
}

div#fancy_title div {
	color: #FFF;
	font: bold 12px Arial;
	padding-bottom: 3px;
}

div#fancy_title table {
	margin: 0 auto;
}

div#fancy_title table td {
	padding: 0;
	vertical-align: middle;
}

td#fancy_title_left {
	height: 32px;
	width: 15px;
	background: transparent url(fancy_title_left.png) repeat-x;
}

td#fancy_title_main {
	height: 32px;
	background: transparent url(fancy_title_main.png) repeat-x;
}

td#fancy_title_right {
	height: 32px;
	width: 15px;
	background: transparent url(fancy_title_right.png) repeat-x;
}